* {
    margin: 0;
    padding: 2px;

}

body {

    background-color: #ADB5BD;
}

#cabecalho {

    display: flex;

    width: 90%;
    margin: 5px auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    height: 180px;
    background-color: #6C757D;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);



}

#cabecalho img {
    border-radius: 4px;
}

.menu {
    display: flex;

    justify-content: space-around;
    gap: 20px;
    margin: 5px auto;
    border: 1px solid black;
    width: 90%;
    border-radius: 4px;
    font-size: 25px;
    background-color: #212529;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.menu div{
    padding: 5px;
    border-radius: 10px;

}

.menu div:hover {

    background-color: #E9ECEF;
    color: black;
    cursor: pointer;

    




}

.produto {

    display: grid;

    grid-template-columns: 1fr;
    gap: 5px;
    grid-template-rows: auto;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #fff;
    flex: 1;
    margin: 10px;


}

.detalhe-produto{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    grid-template-rows: auto;
    /* border: 1px solid black; */
    border-radius: 4px;
    flex: 1;
    margin: 10px;


}
.conteudo-principal {

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    grid-template-rows: auto;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #fff;
    flex: 1;
    margin: 10px;
    width: 90%;
    margin: 5px auto;
    background-color: #CED4DA;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.conteudo-principal-detalhe {

    display: flex;

   
    gap: 5px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #fff;
    flex: 1;
    margin: 10px;
    width: 90%;
    margin: 5px auto;
    background-color: #CED4DA;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.btn-produto {
    display: flex;

    gap: 5px;
    margin: 5px;
    justify-content: center;

}

.rodape {
    display: flex;

    width: 90%;
    margin: 5px auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    height: 180px;
    background-color: #CED4DA;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);


}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 20px
}

.info-empresa {

    display: grid;
}

#caracteristicas{
    background-color: #212529;
    padding: 2px;
    border-radius: 5px;
    color: white;

}