* {
    margin: 0;
    padding: 2px;

}

body {

    background-color: #ADB5BD;
    background-image: url('../data/img/banner/cabecalho.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    gap: 2px;
    width: 90%;
    height: 210px;
    margin: 10px auto;
    /* border: 1px solid #000; */
    border-radius: 5px;
    display: flex;
    background-color: #6c757d;
    overflow: hidden;

}

.cabecalho img {

    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 31%;
    height: 96%;
    overflow: hidden;

}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.banner {
    flex: 1;
    position: relative;
    border: 2px solid black;
    overflow: hidden;



}

.banner img {
    flex: 1;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.banner img.active {
    opacity: 1;
}

.menu {
    display: flex;

    justify-content: space-around;
    gap: 20px;
    margin: 5px auto;
    border: 1px solid black;
    width: 90%;
    border-radius: 4px;
    font-size: 25px;
    background-color: #212529;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.menu a {
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: white;

}

.menu a:hover {

    background-color: #E9ECEF;
    color: black;
    cursor: pointer;
}

.produto {

    display: grid;

    grid-template-columns: 1fr;
    gap: 5px;
    grid-template-rows: auto;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #fff;
    flex: 1;
    margin: 10px;


}

.detalhe-produto {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    grid-template-rows: auto;
    border-radius: 4px;
    flex: 1;
    margin: 10px;


}
.botao-detalhe,.botao-comprar{

    display: inline-block;
    padding: 12px 24px;
    background-color: #CED4DA;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    /* font-weight: bold; */
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

}

.botao-comprar:hover{

    background-color: #495057;
    color:white;

}
.botao-detalhe:hover{

    background-color: #495057;
    color:white;
}


.conteudo-principal {

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    grid-template-rows: auto;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #fff;
    flex: 1;
    margin: 10px;
    width: 90%;
    margin: 5px auto;
    background-color: #CED4DA;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.conteudo-principal-detalhe {

    display: flex;


    gap: 5px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #fff;
    flex: 1;
    margin: 10px;
    width: 90%;
    margin: 5px auto;
    background-color: #CED4DA;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.btn-produto {
    display: flex;

    gap: 5px;
    margin: 5px;
    justify-content: center;

}

.rodape {
    display: flex;

    width: 90%;
    margin: 5px auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    height: 180px;
    background-color: #CED4DA;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);


}

.container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 20px
}

.info-empresa {

    display: grid;
}

#caracteristicas {
    background-color: #212529;
    padding: 2px;
    border-radius: 5px;
    color: white;

}

.form-container {
    border: 1px solid black;
    border-radius: 4px;
    background-color: #fff;
    flex: 1;
    margin: 10px;
    width: 90%;
    margin: 5px auto;
    background-color: #CED4DA;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    justify-items: auto;


}

.form-group {
    display: grid;
}

.form-group input {
    width: 200px;
    height: 25px;
    font-size: 25px;
    border-radius: 10px;
    border: none;
}

.form-group select {
    width: 200px;
    height: 25px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
}




.form-group #nome,
.form-group #email,
.form-group #endereco,
.form-group #senha {

    width: 627px;


}

.form-group label {
    font-weight: bold;

}

.formulario {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    max-width: 600px;
    margin: 10px auto;

}

.formulario-login {
    display: grid;
    justify-items: center;
    max-width: 600px;
    margin: 10px auto;


}

.formulario-login #senha {
    width: 627px;

}

.formulario #campo-nome,
.formulario #campo-email,
.formulario #campo-endereco,
.formulario #campo-senha {
    grid-column: 1 / span 3;

}


.btn-cadastro {

    grid-column: 2 / span 1;



}

.btn-cadastro {
    display: grid;
    gap: 5px;
    padding: 5px;
    justify-content: center;

}

.btn-cadastro button {
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: #6C757D;
    color: white;

}

.btn-cadastro button:hover {

    background-color: #E9ECEF;
    color: black;
    cursor: pointer;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);


}

/* ---------Botão da página de Login---------------- */
.btn-login {
    gap: 5px;
    padding: 5px;



}

.btn-login button {
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: #6C757D;
    color: white;

}

.btn-login button:hover {

    background-color: #E9ECEF;
    color: black;
    cursor: pointer;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);


}

/* ---------------------------------------------------- */